$fontSizeText: 18px;
$fontSizeTitle: 26px;
$animationSpeed: 0.3s;

$darkBlue: #080029;
$activeColor: rgb(0, 153, 255);
$titleColor: #626262;
$colorText: #747474;
$btnColor: #0f0049;
$btnSliderColorDark: #181818;
$wightBlue: #d9e8ff;
$blue: #0f0049;
$footerBgColor: #0b0b0b;
$footerTextColor: #bcbcbc;
$footerTitleColor: #fcfcfc;

$paddingLayout: 3.5%;
$headerWidth: 90px;

$Merriweather: "Merriweather", serif;
$Rubik: "Rubik", sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.layout {
    width: 100%;
    .header {
        width: 100%;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 25px;
        padding: 0 $paddingLayout;
        &__logo,
        &__menu,
        &__user,
        &__nav {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__soc__media {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            width: 92px;
            position: absolute;
            z-index: -1;
            height: 60px;
            border-right: 2px solid #f0f0f0;
            border-left: 2px solid #f0f0f0;
            border-bottom: 2px solid #f0f0f0;
            overflow: hidden;
            transition-duration: $animationSpeed;
            background-color: rgb(255, 255, 255);
            top: 0;
            left: -2px;
            .soc__media__links {
                display: flex;
                flex-direction: column;
                gap: 45px;
            }
            .soc__media__closed {
                margin: 9vh 0;
            }

            &.open {
                height: 90vh;
            }
        }
        &__nav {
            justify-content: space-between;
            position: relative;
            max-width: 1800px;
            z-index: 1000;
            height: $headerWidth;
            margin: auto;
            background: rgb(255, 255, 255);
            border: 2px solid #f0f0f0;
        }
        &__logo {
            position: absolute;
            height: $headerWidth;
            width: $headerWidth;
            border-right: 2px solid #f0f0f0;
            border-top: 2px solid #f0f0f0;
            border-bottom: 2px solid #f0f0f0;
            background-color: rgb(255, 255, 255);
        }
        &__menu {
            justify-content: flex-start;
            width: 100%;
            gap: 7.5%;
            margin-left: calc(90px + 5.5%);
            font-size: $fontSizeText;
        }
        &__list {
            a {
                color: $darkBlue;
                font-family: $Rubik;
                transition-duration: $animationSpeed;
                display: block;
            }
            &:hover a {
                color: $activeColor;
            }
        }
        &__profile {
            height: 52px;
            width: 52px;
            margin-right: 8.5%;
            &:hover svg {
                circle {
                    transition-duration: $animationSpeed;
                    fill: $activeColor;
                }
            }
        }
    }
    .main {
        width: 100%;
        .wild-park {
            &__layout {
                max-width: 1432px;
                margin: auto;
                display: flex;
                padding-top: 170px;
                justify-content: space-between;
                align-items: center;
            }
            &__title {
                color: $titleColor;
                font-size: 22px;
                font-family: $Rubik;
                padding: 0 0 25px 0;
            }
            &__subtitle {
                color: $darkBlue;
                font-size: 84px;
                font-family: $Merriweather;
                .dot {
                    position: relative;
                    z-index: -2;
                    &::before {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        top: 13px;
                        left: 6px;
                        height: 18px;
                        width: 18px;
                        border-radius: 50%;
                        background-color: red;
                    }
                }
            }
            &__btn:nth-of-type(1) {
                .btn {
                    background-color: $darkBlue;
                    color: white;
                    margin-right: 62px;
                    margin-top: 60px;
                }
            }
            &__btn:nth-of-type(2) {
                .btn {
                    border: 2px solid $darkBlue;
                    background-color: white;
                    color: $darkBlue;
                }
            }
        }
        .how-zoo-work {
            &__layout {
                padding: 110px 0;
                max-width: 1432px;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // gap: 224px;
                gap: 219px;
            }
            &__text {
                margin: 40px 0 60px 0;
            }
            &__btn {
                .btn {
                    color: white;
                    background-color: $btnColor;
                }
            }
        }
        .famous-pets {
            background-color: $wightBlue;
            padding: 100px 0;
            &__layout {
                max-width: 1432px;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__box {
                max-width: 325px;
            }
            &__btn {
                margin-top: 55px;
                .btn-slider {
                    background-color: $btnSliderColorDark;
                }
            }
            &__slider {
                width: 1064px;
                overflow: hidden;
            }
            &__slider-bar {
                display: flex;
                flex-wrap: wrap;
                width: 1800px;
                gap: 40px;
                transition-duration: 0.5s;
            }
            &__animal {
                width: 328px;
                height: 328px;
                background-color: white;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                border-radius: 5px;
                transition-duration: $animationSpeed;
                overflow: hidden;
                position: relative;
                &:hover {
                    background-size: 110%;
                }
                .animal-container {
                    width: 100%;
                    height: 100%;
                    transition-duration: $animationSpeed;
                    &:hover {
                        background-color: rgba($color: #000000, $alpha: 0.3);
                    }
                }
                &:nth-of-type(1) {
                    background-image: url("../assets/img/slider_red_panda.png");
                }
                &:nth-of-type(2) {
                    background-image: url("../assets/img/slider_penguin.png");
                }
                &:nth-of-type(3) {
                    background-image: url("../assets/img/slider_squirrel.png");
                }
                &:nth-of-type(4) {
                    background-image: url("");
                }
                &:nth-of-type(5) {
                    background-image: url("");
                }
                &:nth-of-type(6) {
                    background-image: url("../assets/img/slider_panda.png");
                }
                &:nth-of-type(7) {
                    background-image: url("../assets/img/slider_eagle.png");
                }
                &:nth-of-type(8) {
                    background-image: url("../assets/img/slider_gorilla.png");
                }
                &:nth-of-type(9) {
                    background-image: url("");
                }
                &:nth-of-type(10) {
                    background-image: url("");
                }
            }
        }
        .pay-and-feed {
            padding: 100px 0 136px 0;
            &__layout {
                display: flex;
                flex-direction: column;
                padding-left: 244px;
                max-width: 1920px;
                margin: auto;
            }
            &__title {
                padding-bottom: 0;
                padding-left: 184px;
            }
            &__box {
                display: flex;
                flex-direction: row;
                position: relative;
                align-items: center;
                max-width: 824px;
                justify-content: space-between;
                &:nth-of-type(1) {
                    margin: 85px 0 0 201px;
                    &::after {
                        content: url(../assets/img/arrow_1.png);
                        left: 57%;
                        position: absolute;
                        bottom: -85px;
                    }
                }
                &:nth-of-type(2) {
                    margin: 129px 0 0 751px;
                    &::before {
                        content: url(../assets/img/arrow_2.png);
                        left: -35%;
                        position: absolute;
                        top: 50%;
                    }
                }
                &:nth-of-type(3) {
                    margin: 129px 0 0 16px;
                }
            }
            &__content {
                max-width: 456px;
            }
        }
        .testimonials {
            background-color: $darkBlue;
            padding: 100px 0;
            &__layout {
                padding-left: 244px;
                max-width: 1920px;
                margin: auto;
                display: flex;
                gap: 40px;
            }
            &__title,
            &__subtitle,
            &__more-reviews,
            &__about-text {
                color: $footerTitleColor;
            }
            &__about-text {
                margin-top: 40px;
                max-width: 512px;
                font-weight: 300;
            }
            &__btn {
                .btn {
                    margin-top: 80px;
                    color: $footerTitleColor;
                    border-color: $footerTitleColor;
                }
            }
            &__slider {
                width: 1024px;
                overflow: hidden;
            }
            &__slider-box {
                display: flex;
                gap: 40px;
                margin-top: 25px;
            }
            &__user-reviews {
                width: 512px;
                height: 273px;
                background-color: $footerTitleColor;
                border-radius: 15px;
                padding: 40px;
            }
            &__user {
                display: flex;
                align-items: center;
                gap: 20px;
            }
            &__user-avatar {
                width: 46px;
                border-radius: 50%;
                overflow: hidden;
                border: 1px solid #e3e3e3;
            }
            &__user-name {
                font-family: $Rubik;
                font-size: 24px;
                color: $footerBgColor;
                font-weight: 500;
            }
            &__text {
                color: #181818;
                margin-top: 30px;
            }
            &__btn {
                margin-top: 30px;
                .btn-slider {
                    background-color: $footerTitleColor;
                }
            }
        }
        .zoo-map {
            padding: 50px 0 114px 0;
            &__layout {
                max-width: 1920px;
                padding-left: 244px;
                margin: auto;
                display: flex;
                gap: 25px;
            }
            &__animal-card {
                width: 344px;
                margin-top: 50px;
            }
            &__cards {
                position: relative;
            }
            &__card {
                box-shadow: 4px 12px 22px rgba(0, 0, 0, 0.06);
                border-radius: 15px;
                overflow: hidden;
                position: absolute;
                top: 0;
                transition-duration: 0.7s;
                left: -388px;
                width: 344px;
                height: 512px;
                opacity: 0;
                &:nth-of-type(1) {
                    .zoo-map__card__img {
                        background-image: url(../assets/img/card_eagle.png);
                    }
                }
                &:nth-of-type(2) {
                    .zoo-map__card__img {
                        background-image: url(../assets/img/card_alligator.png);
                    }
                }
                &:nth-of-type(3) {
                    .zoo-map__card__img {
                        background-image: url(../assets/img/card_gorilla.png);
                    }
                }
                &:nth-of-type(4) {
                    .zoo-map__card__img {
                        background-image: url(../assets/img/card_panda.png);
                    }
                }
                &.show__card {
                    left: 0px;
                    opacity: 1;
                }
            }
            &__card__img {
                width: 100%;
                height: 218px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &__card__about-animal {
                padding: 20px 40px 45px;
                text-align: center;
                height: 298px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &__card__subtitle {
                text-align: center;
                margin-bottom: 20px;
            }
            &__card__about-text {
                color: #747474;
                line-height: 154%;
            }
            &__card__link {
                font-size: 18px;
                font-family: Rubik;
                color: #3888ff;
            }
            &__animal-map {
                height: 700px;
                width: 1223px;
                background-image: url(../assets/img/world.png);
            }
            &__animal-map__layout {
                position: relative;
            }
            &__marker {
                position: absolute;
                transition-duration: $animationSpeed;
                padding-bottom: 100px;
                g {
                    path {
                        stroke: transparent;
                    }
                }
                &:nth-of-type(1) {
                    top: 190px;
                    left: 120px;
                }
                &:nth-of-type(2) {
                    top: 204px;
                    left: 253px;
                }
                &:nth-of-type(3) {
                    top: 195px;
                    left: 890px;
                }
                &:nth-of-type(4) {
                    top: 330px;
                    left: 570px;
                }
                &:hover:not(.zoo-map__marker__active) {
                    transform: scale(1.2);
                }
            }
            &__marker__active {
                transform: scale(1.3);
                g {
                    .marker__color{
                        stroke: #609fff;
                    }
                }
            }
        }
    }
    .footer {
        padding: $paddingLayout;
        width: 100%;
        background-color: $footerBgColor;
        &__box {
            max-width: 1432px;
            margin: auto;
            color: white;
            font-family: $Rubik;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: $footerTextColor;
        }
        &__layout {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 100px 0 150px 0;
            a {
                color: $footerTextColor;
                transition-duration: $animationSpeed;
                &:hover {
                    color: $activeColor;
                }
            }
        }
        &__title {
            color: $footerTitleColor;
            font-weight: 400;
            font-size: 22px;
        }
        &__icons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-self: stretch;
        }
        &__collaboration {
            display: flex;
            align-items: center;
            gap: 24px;
        }
        &__navigation {
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-weight: 400;
            margin-right: 160px;
            .navigation__link {
                &:nth-of-type(1) {
                    font-size: 22px;
                    margin-bottom: 10px;
                    font-weight: 400;
                    color: $footerTitleColor;
                }
            }
        }
        &__volunteer {
            max-width: 339px;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        &__btn {
            .btn {
                border-color: $footerTitleColor;
                color: $footerTitleColor;
                padding: 20px 0;
                width: 100%;
            }
        }
        &__soc-media {
            margin-top: 85px;
            display: flex;
            gap: 45px;
            font-size: 22px;
        }
        &__copyright {
            padding: 50px 0 0 0;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #747474;
            font-weight: 400;
        }
    }
}

.btn {
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 20px 75px;
    font-size: 18px;
    font-family: $Rubik;
}

.title {
    color: $titleColor;
    font-size: 22px;
    font-family: $Rubik;
    padding: 0 0 50px 0;
    letter-spacing: 0.115em;
}

.subtitle {
    color: $darkBlue;
    font-family: $Merriweather;
    font-size: 36px;
    text-align: start;
}

.text {
    font-size: 18px;
    color: $colorText;
    line-height: 154%;
    font-family: Rubik;
    line-height: 27.72px;
}

.btn-slider {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-icon-hover:hover svg {
    path {
        transition-duration: $animationSpeed;
        fill: $activeColor;
    }
}

.desctop-hidden {
    display: none;
}

.slider-btn-box {
    display: flex;
    gap: 20px;
}
