* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.layout {
  width: 100%;
  padding: 3.5%;
  height: 15000px;
}

.layout .header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 25px;
  padding: 0 3.5%;
}

.layout .header__logo, .layout .header__menu, .layout .header__user, .layout .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout .header__soc__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 92px;
  position: absolute;
  z-index: -1;
  height: 71vh;
  background-color: red;
  border-right: 2px solid #f0f0f0;
  border-left: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  overflow: hidden;
  background-color: white;
  top: 0;
  left: -2px;
}

.layout .header__soc__media .soc__media__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
}

.layout .header__soc__media .soc__media__closed {
  margin: 9vh 0;
}

.layout .header__nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  max-width: 1800px;
  z-index: 1000;
  height: 90px;
  margin: auto;
  background: white;
  border: 2px solid #f0f0f0;
}

.layout .header__logo {
  position: absolute;
  height: 90px;
  width: 90px;
  border-right: 2px solid #f0f0f0;
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  background-color: white;
}

.layout .header__menu {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  gap: 7.5%;
  margin-left: calc(90px + 5.5%);
  font-size: 18px;
}

.layout .header__list a {
  color: #080029;
  font-family: "Rubik", sans-serif;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  display: block;
}

.layout .header__list:hover a {
  color: #0099ff;
}

.layout .header__profile {
  height: 52px;
  width: 52px;
  margin-right: 8.5%;
}

.layout .header__profile:hover svg circle {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  fill: #0099ff;
}

.svg-icon-hover:hover svg path {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  fill: #0099ff;
}

@media screen and (max-width: 1200px) {
  .layout .header__logo {
    height: 70px;
    width: 70px;
  }
  .layout .header__nav {
    height: 70px;
  }
  .layout .header__soc__media {
    width: 72px;
  }
  .layout .header__profile {
    height: 10vh;
    width: 43px;
  }
  .layout .header__profile svg {
    height: 10vh;
    width: 43px;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .layout .header__logo {
    height: 75px;
    width: 75px;
  }
  .layout .header__nav {
    height: 75px;
  }
  .layout .header__soc__media {
    width: 77px;
  }
  .layout .header__profile {
    height: 10vh;
    width: 43px;
  }
  .layout .header__profile svg {
    height: 10vh;
    width: 43px;
  }
}
/*# sourceMappingURL=homePage.css.map */