$activeColor: #028ddd;

.contentLoad {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &.hidden{
        transition-duration: 1s;
        opacity: 0;
    }
    .preloader {
        display: inline-block;
        width: 80px;
        height: 80px;
    }
    .preloader:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid $activeColor;
        border-color: $activeColor transparent $activeColor transparent;
        animation: preloader 1.2s linear infinite;
    }
    @keyframes preloader {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}