$fontSizeText: 18px;
$fontSizeTitle: 26px;
$animationSpeed: 0.4s;

$darkBlue: #080029;
$activeColor: rgb(0, 153, 255);
$titleColor: #626262;
$colorText: #747474;
$btnColor: #0f0049;
$btnSliderColorDark: #181818;
$btnBgActive: #150068;
$wightBlue: #d9e8ff;
$blue: #0f0049;
$footerBgColor: #0b0b0b;
$footerTextColor: #bcbcbc;
$footerTitleColor: #fcfcfc;

$paddingLayout: 3.5%;
$headerWidth: 90px;

$Merriweather: "Merriweather", serif;
$Rubik: "Rubik", sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.layout {
    width: 100%;
    .header {
        width: 100%;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 25px;
        padding: 0 $paddingLayout;
        &__logo,
        &__menu,
        &__user,
        &__nav {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__soc__media {
            padding-top: 90px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 92px;
            position: absolute;
            z-index: -1;
            height: 90vh;
            border-right: 2px solid #f0f0f0;
            border-left: 2px solid #f0f0f0;
            border-bottom: 2px solid #f0f0f0;
            overflow: hidden;
            transition-duration: $animationSpeed;
            background-color: rgb(255, 255, 255);
            top: 0;
            left: -2px;
            .soc__media__links {
                display: flex;
                flex-direction: column;
                gap: 40px;
            }
        }
        &__nav {
            justify-content: space-between;
            position: relative;
            max-width: 1800px;
            z-index: 1000;
            height: $headerWidth;
            margin: auto;
            background: rgb(255, 255, 255);
            border: 2px solid #f0f0f0;
        }
        &__logo {
            position: absolute;
            height: $headerWidth;
            width: $headerWidth;
            border-right: 2px solid #f0f0f0;
            border-top: 2px solid #f0f0f0;
            border-bottom: 2px solid #f0f0f0;
            background-color: rgb(255, 255, 255);
        }
        &__menu {
            justify-content: flex-start;
            width: 100%;
            gap: 7.5%;
            margin-left: calc(90px + 5.5%);
            font-size: $fontSizeText;
        }
        &__list {
            a {
                color: $darkBlue;
                font-family: $Rubik;
                transition-duration: $animationSpeed;
                display: block;
            }
            &:not(.landing-page):hover a {
                color: $activeColor;
            }
            &.landing-page {
                font-weight: 500;
            }
        }
        &__profile {
            height: 52px;
            width: 52px;
            margin-right: 8.5%;
            &:hover svg {
                circle {
                    transition-duration: $animationSpeed;
                    fill: $activeColor;
                }
            }
        }
    }
    .main {
        width: 100%;
    }
    .footer {
        padding: $paddingLayout;
        width: 100%;
        background-color: $footerBgColor;
        &__box {
            max-width: 1432px;
            margin: auto;
            color: white;
            font-family: $Rubik;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: $footerTextColor;
        }
        &__layout {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 100px 0 150px 0;
            a {
                color: $footerTextColor;
                transition-duration: $animationSpeed;
                &:hover {
                    color: $activeColor;
                }
            }
        }
        &__title {
            color: $footerTitleColor;
            font-weight: 400;
            font-size: 22px;
        }
        &__icons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-self: stretch;
        }
        &__collaboration {
            display: flex;
            align-items: center;
            gap: 24px;
        }
        &__navigation {
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-weight: 400;
            margin-right: 160px;
            .navigation__link {
                &:nth-of-type(1) {
                    font-size: 22px;
                    margin-bottom: 10px;
                    font-weight: 400;
                    color: $footerTitleColor;
                }
            }
        }
        &__volunteer {
            max-width: 339px;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        &__btn {
            .btn {
                border-color: $footerTitleColor;
                color: $footerTitleColor;
                padding: 20px 0;
                width: 100%;
                &:hover {
                    background-color: $footerTitleColor;
                    color: black;
                }
            }
        }
        &__soc-media {
            margin-top: 85px;
            display: flex;
            gap: 45px;
            font-size: 22px;
        }
        &__copyright {
            padding: 50px 0 0 0;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #747474;
            font-weight: 400;
        }
    }
}

.btn {
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 20px 75px;
    transition-duration: $animationSpeed;
    font-size: 18px;
    font-family: $Rubik;
}

.title {
    color: $titleColor;
    font-size: 26px;
    font-family: $Rubik;
    padding: 0 0 50px 0;
    letter-spacing: 0.115em;
}

.subtitle {
    color: $darkBlue;
    font-family: $Merriweather;
    font-size: 36px;
    text-align: start;
}

.text {
    font-size: 18px;
    color: $colorText;
    line-height: 154%;
    font-family: Rubik;
    line-height: 27.72px;
}

.svg-icon-hover:hover svg {
    circle {
        transition-duration: 0.5s;
        stroke: #609fff;
    }
}

.desctop-hidden {
    display: none;
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
    $headerWidth: 70px;
    $paddingLayout: 40px;
    .layout {
        .header {
            padding: 0 $paddingLayout;
            &__soc__media {
                width: 72px;
                height: 90vh;
                // height: 60px;
                .soc__media__links {
                    gap: 45px;
                }
                // &.open {
                // }
            }
            &__nav {
                width: 1120px;
                height: $headerWidth;
            }
            &__logo {
                height: $headerWidth;
                width: $headerWidth;
            }
            &__menu {
                gap: 100px;
                margin-left: calc(90px + 5.5%);
                font-size: $fontSizeText;
            }
            &__profile {
                height: 42px;
                width: 42px;
                margin-right: 100px;
                display: flex;
                align-items: center;
                &:hover svg {
                    circle {
                        transition-duration: $animationSpeed;
                        fill: $activeColor;
                    }
                }
            }
        }
        .main {
        }
        .footer {
            &__layout {
                padding: 100px 40px 133px 40px;
            }
            &__box {
                max-width: 1200px;
            }
            &__title {
                color: $footerTitleColor;
                font-weight: 400;
                font-size: 22px;
            }
            &__icons {
                svg {
                    width: 119px;
                    height: 91;
                }
            }
            &__collaboration {
                flex-direction: column;
            }
            &__navigation {
                margin-right: 160px;
            }
            &__soc-media {
                margin-top: 93px;
                gap: 45px;
                font-size: 20px;
            }
            &__copyright {
                padding: 40px 0 0 0;
            }
        }
    }
    .text {
        font-size: 16px;
    }
    .btn {
        font-size: 16px;
        padding: 16px 60px;
    }
    .subtitle {
        font-size: 28px;
        line-height: 145%;
    }
    .title {
        font-size: 22px;
    }
}
