$fontSizeText: 18px;
$fontSizeTitle: 26px;
$animationSpeed: 0.4s;

$darkBlue: #080029;
$activeColor: rgb(0, 153, 255);
$titleColor: #626262;
$colorText: #747474;
$btnColor: #0f0049;
$btnSliderColorDark: #181818;
$btnBgActive: #150068;
$wightBlue: #d9e8ff;
$blue: #0f0049;
$footerBgColor: #0b0b0b;
$footerTextColor: #bcbcbc;
$footerTitleColor: #fcfcfc;

$paddingLayout: 3.5%;
$headerWidth: 90px;

$Merriweather: "Merriweather", serif;
$Rubik: "Rubik", sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.layout {
    width: 100%;
    .header {
        width: 100%;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 25px;
        padding: 0 $paddingLayout;
        &__logo,
        &__menu,
        &__user,
        &__nav {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__soc__media {
            padding-top: 90px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 92px;
            position: absolute;
            z-index: -1;
            height: 720px;
            border-right: 2px solid #f0f0f0;
            border-left: 2px solid #f0f0f0;
            border-bottom: 2px solid #f0f0f0;
            overflow: hidden;
            transition-duration: $animationSpeed;
            background-color: rgb(255, 255, 255);
            top: 0;
            left: -2px;
            .soc__media__links {
                display: flex;
                flex-direction: column;
                gap: 40px;
            }
        }
        &__nav {
            justify-content: space-between;
            position: relative;
            max-width: 1800px;
            z-index: 1000;
            height: $headerWidth;
            margin: auto;
            background: rgb(255, 255, 255);
            border: 2px solid #f0f0f0;
        }
        &__logo {
            position: absolute;
            height: $headerWidth;
            width: $headerWidth;
            border-right: 2px solid #f0f0f0;
            border-top: 2px solid #f0f0f0;
            border-bottom: 2px solid #f0f0f0;
            background-color: rgb(255, 255, 255);
        }
        &__menu {
            justify-content: flex-start;
            width: 100%;
            gap: 7.5%;
            margin-left: calc(90px + 5.5%);
            font-size: $fontSizeText;
        }
        &__list {
            a {
                color: $darkBlue;
                font-family: $Rubik;
                transition-duration: $animationSpeed;
                display: block;
            }
            &:not(.landing-page):hover a {
                color: $activeColor;
            }
            &.landing-page {
                font-weight: 500;
            }
        }
        &__profile {
            height: 52px;
            width: 52px;
            margin-right: 87px;
            &:hover svg {
                circle {
                    transition-duration: $animationSpeed;
                    fill: $activeColor;
                }
            }
        }
    }
    .main {
        width: 100%;
        .translation {
            &__layout {
                padding-top: 186px;
                padding-left: 244px;
                max-width: 1920px;
                margin: auto;
                display: grid;
                grid-template-columns: 1064px max-content;
                grid-template-rows: 110px 489px max-content;
                column-gap: 40px;
                grid-auto-flow: row dense;
            }
            &__video {
                width: 1064px;
                height: 599px;
                border-radius: 5px;
                grid-area: 1 / 1 / 2 / 3;
                border-radius: 5px;
                overflow: hidden;
            }
            &__zoo-account {
                display: flex;
                align-items: center;
                align-content: flex-start;
                gap: 20px;
                border-bottom: 1px solid #e3e3e3;
                padding-bottom: 40px;
                grid-column: 2/3;
                grid-row: 1/2;
                align-self: flex-start;
            }
            &__zoo-account-img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }
            &__zoo-name {
                font-family: Rubik;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                color: $footerBgColor;
            }
            &__views {
                margin-top: 5px;
                display: flex;
                align-items: center;
                align-content: center;
                gap: 5px;
                font-family: Rubik;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                color: $colorText;
            }
            &__donate {
                width: 450px;
                grid-column: 2/3;
                grid-row: 2/3;
            }
            &__title {
                margin-top: 40px;
                font-family: Merriweather;
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                color: $darkBlue;
                line-height: 145%;
                width: 420px;
            }
            &__cams {
                grid-column: 1/3;
                grid-row: 3/4;
            }
            &__text {
                margin-top: 30px;
                font-size: 18px;
                line-height: 154%;
                color: $colorText;
                width: 336px;
                font-family: Rubik;
            }
            &__btn {
                display: block;
                .btn {
                    border: 2px solid $btnColor;
                    background-color: $btnColor;
                    color: white;
                    margin-top: 40px;
                    &:hover {
                        background-color: $darkBlue;
                        border-color: $darkBlue;
                    }
                    &:active {
                        background-color: $btnBgActive;
                        border-color: $btnBgActive;
                    }
                }
            }
            &__cams {
                margin-top: 60px;
            }
            &__cams-title {
                font-family: Merriweather;
                font-size: 36px;
                line-height: 145%;
                color: $darkBlue;
                display: flex;
                align-items: center;
                gap: 12px;
            }
            &__slider {
                margin-top: 40px;
            }
            &__slider-bar {
                display: flex;
                gap: 40px;
            }
            &__cam {
                background-color: black;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 5px;
                overflow: hidden;
                width: 328px;
                height: 184px;
                color: white;
                font-family: $Merriweather;
                font-style: normal;
                font-weight: lighter;
                &:hover {
                    .translation__cam-viewers {
                        opacity: 1;
                    }
                }
                &.translation__watch-now {
                    position: relative;
                    &::before {
                        content: "You watch now";
                        position: absolute;
                        background-color: rgba($color: #000000, $alpha: 0.5);
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 2;
                        font-family: $Merriweather;
                    }
                    .translation__cam-viewers {
                        opacity: 0;
                    }
                }
                button {
                    display: block;
                    padding-top: 10px;
                    color: white;
                    font-family: $Merriweather;
                }
                .translation__cam-viewers {
                    transition-duration: 0.4s;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    background-color: rgba($color: #000000, $alpha: 0.5);
                    opacity: 0;
                }
                .translation__cam-viewers__quantities {
                    padding-bottom: 5px;
                    border-bottom: 1px solid white;
                }
            }
            &__btns {
                margin-top: 40px;
                .btn-slider {
                    background-color: $btnSliderColorDark;
                }
            }
        }
        .facts {
            &__layout {
                width: 1432px;
                margin: auto;
            }
            &__title {
                margin-top: 40px;
                font-family: $Merriweather;
                font-size: 36px;
                line-height: 145%;
                color: $darkBlue;
            }
            &__text {
                margin-top: 30px;
                font-size: 18px;
                line-height: 154%;
                color: $colorText;
                font-family: $Rubik;
                width: 512px;
            }
            &__information {
                border-bottom: 1px solid #d3d3d3;
                transition-duration: 0.5s;
                &[open] {
                    border-color: #609fff;
                    .facts__information-title {
                        color: #609fff;
                        &::before {
                            content: "-";
                        }
                    }
                    .facts__information-text {
                        animation: spoiler 1s;
                    }
                }
            }

            &__information-title {
                padding: 25px 0;
                font-family: $Rubik;
                font-style: normal;
                font-weight: normal;
                font-size: 26px;
                color: $darkBlue;
                display: flex;
                justify-content: space-between;
                transition-duration: 0.5s;
                position: relative;
                cursor: pointer;
                &::before {
                    content: "+";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            &__information-text {
                padding-bottom: 30px;
                color: $colorText;
                font-size: 18px;
                font-family: $Rubik;
                line-height: 154%;
                overflow: hidden;
                padding-right: 51px;
            }

            @keyframes spoiler {
                0% {
                    max-height: 0;
                }
                100% {
                    max-height: 800px;
                }
            }
        }
        .pay-and-feed {
            padding: 100px 0 136px 0;
            &__layout {
                display: flex;
                flex-direction: column;
                padding-left: 244px;
                max-width: 1920px;
                margin: auto;
            }
            &__title {
                padding-bottom: 0;
                padding-left: 184px;
            }
            &__box {
                display: flex;
                flex-direction: row;
                position: relative;
                align-items: center;
                max-width: 824px;
                justify-content: space-between;
                &:nth-of-type(1) {
                    margin: 85px 0 0 201px;
                    &::after {
                        content: url(../../../assets/img/arrow_1.png);
                        left: 57%;
                        position: absolute;
                        bottom: -85px;
                    }
                }
                &:nth-of-type(2) {
                    margin: 129px 0 0 751px;
                    &::before {
                        content: url(../../../assets/img/arrow_2.png);
                        left: -35%;
                        position: absolute;
                        top: 50%;
                    }
                }
                &:nth-of-type(3) {
                    margin: 129px 0 0 16px;
                }
            }
            &__content {
                max-width: 450px;
            }
        }
    }
    .footer {
        padding: $paddingLayout;
        width: 100%;
        background-color: $footerBgColor;
        &__box {
            max-width: 1432px;
            margin: auto;
            color: white;
            font-family: $Rubik;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: $footerTextColor;
        }
        &__layout {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 100px 0 150px 0;
            a {
                color: $footerTextColor;
                transition-duration: $animationSpeed;
                &:hover {
                    color: $activeColor;
                }
            }
        }
        &__title {
            color: $footerTitleColor;
            font-weight: 400;
            font-size: 22px;
        }
        &__icons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-self: stretch;
        }
        &__collaboration {
            display: flex;
            align-items: center;
            gap: 24px;
        }
        &__navigation {
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-weight: 400;
            margin-right: 160px;
            .navigation__link {
                &:nth-of-type(1) {
                    font-size: 22px;
                    margin-bottom: 10px;
                    font-weight: 400;
                    color: $footerTitleColor;
                }
            }
        }
        &__volunteer {
            max-width: 339px;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        &__btn {
            .btn {
                border-color: $footerTitleColor;
                color: $footerTitleColor;
                padding: 20px 0;
                width: 100%;
                &:hover {
                    background-color: $footerTitleColor;
                    color: black;
                }
            }
        }
        &__soc-media {
            margin-top: 85px;
            display: flex;
            gap: 45px;
            font-size: 22px;
        }
        &__copyright {
            padding: 50px 0 0 0;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #747474;
            font-weight: 400;
        }
    }
}

.btn {
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 20px 75px;
    transition-duration: $animationSpeed;
    font-size: 18px;
    font-family: $Rubik;
}

.btn-slider {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-btn-box {
    display: flex;
    gap: 20px;
}

.title {
    color: $titleColor;
    font-size: 26px;
    font-family: $Rubik;
    padding: 0 0 50px 0;
    letter-spacing: 0.115em;
}

.subtitle {
    color: $darkBlue;
    font-family: $Merriweather;
    font-size: 36px;
    text-align: start;
}

.text {
    font-size: 18px;
    color: $colorText;
    line-height: 154%;
    font-family: Rubik;
    line-height: 27.72px;
}

.svg-icon-hover:hover svg {
    circle {
        transition-duration: 0.5s;
        stroke: #609fff;
    }
}

.animal-pages {
    display: block;
}

.desctop-hidden {
    display: none;
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
    $headerWidth: 70px;
    $paddingLayout: 40px;

    .layout {
        .header {
            padding: 0 $paddingLayout;
            &__soc__media {
                width: 72px;
                height: auto;
                padding-top: 70px;
                .soc__media__links {
                    gap: 30px;
                }
                .soc__media__closed__btn {
                    svg {
                        width: 66px;
                        height: 66px;
                    }
                }
            }
            &__nav {
                width: 1120px;
                height: $headerWidth;
            }
            &__logo {
                height: $headerWidth;
                width: $headerWidth;
            }
            &__menu {
                gap: 100px;
                margin-left: calc(90px + 5.5%);
                font-size: $fontSizeText;
            }
            &__profile {
                height: 42px;
                width: 42px;
                margin-right: 100px;
                display: flex;
                align-items: center;
                &:hover svg {
                    circle {
                        transition-duration: $animationSpeed;
                        fill: $activeColor;
                    }
                }
            }
        }
        .main {
            .translation {
                &__layout {
                    padding-top: 186px;
                    padding-left: 184px;
                    width: 1200px;
                    margin: auto;
                    display: grid;
                    grid-template-columns: 545px max-content;
                    grid-template-rows: 54px 253px max-content;
                    column-gap: 40px;
                    grid-auto-flow: row dense;
                }
                &__video {
                    width: 545px;
                    height: 307px;
                    grid-area: 1 / 1 / 2 / 3;
                }
                &__zoo-account {
                    gap: 28px;
                    border-bottom: none;
                    padding-bottom: 0px;
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
                &__zoo-account-img {
                    width: 54px;
                    height: 54px;
                }
                &__zoo-name {
                    font-size: 20px;
                    font-family: Rubik;
                    font-style: normal;
                    font-weight: normal;
                    color: $footerBgColor;
                }
                &__views {
                    font-size: 16px;
                }
                &__donate {
                    width: 355px;
                }
                &__title {
                    margin-top: 25px;
                    font-size: 22px;
                    width: 343px;
                }
                &__text {
                    margin-top: 15px;
                    font-size: 18px;
                    width: 336px;
                }
                &__btn {
                    .btn {
                        margin-top: 15px;
                    }
                }
                &__cams {
                    margin-top: 50px;
                }
                &__cams-title {
                    font-size: 22px;
                }
                &__slider {
                    margin-top: 30px;
                    width: 831px;
                    overflow: hidden;
                }
                &__slider-bar {
                    display: flex;
                    flex-shrink: 0;
                    width: max-content;
                    gap: 30px;
                }
                &__cam {
                    border-radius: 5px;
                    width: 257px;
                    height: 144px;
                }
                // &__btns {
                //     margin-top: 40px;
                //     .btn-slider {
                //         background-color: $btnSliderColorDark;
                //     }
                // }
            }
            .facts {
                &__layout {
                    padding-left: 184px;
                    padding-right: 50px;
                    width: 1200px;
                    margin: auto;
                }
                &__title {
                    margin-top: 80px;
                    font-size: 36px;
                }
                &__text {
                    // margin-top: 30px;
                    margin-bottom: 35px;
                    font-size: 16px;
                    width: 512px;
                }
                // &__information {
                //     border-bottom: 1px solid #d3d3d3;
                //     transition-duration: 0.5s;
                //     &[open] {
                //         border-color: #609fff;
                //         .facts__information-title {
                //             color: #609fff;
                //             &::before {
                //                 content: "-";
                //             }
                //         }
                //         .facts__information-text {
                //             animation: spoiler 1s;
                //         }
                //     }
                // }

                &__information-title {
                    font-size: 24px;
                    padding: 25px 0;
                    // &::before {
                    //     content: "+";
                    //     position: absolute;
                    //     right: 0;
                    //     top: 50%;
                    //     transform: translateY(-50%);
                    // }
                }
                &__information-text {
                    padding-bottom: 30px;
                    font-size: 16px;
                    padding-right: 5px;
                }
            }
            .pay-and-feed {
                padding: 100px 0 164px 0;
                &__layout {
                    padding-left: 0;
                    max-width: 1200px;
                    padding-left: 184px;
                }
                &__title {
                    padding-bottom: 0;
                    padding-left: 0;
                    margin-bottom: 120px;
                }
                &__subtitle {
                    width: 287px;
                    margin-bottom: 20px;
                }
                &__img {
                    width: 219px;
                }
                &__box {
                    max-width: 753px;
                    margin-top: 0;
                    &:nth-of-type(1) {
                        margin: 0;
                        margin-left: 157px;
                        &::after {
                            content: "";
                        }
                    }
                    &:nth-of-type(2) {
                        margin: 130px 0 0 157px;
                        &::before {
                            content: "";
                        }
                    }
                    &:nth-of-type(3) {
                        margin: 130px 0 0 157px;
                    }
                }
                &__content {
                    max-width: 456px;
                }
            }
        }
        .footer {
            &__layout {
                padding: 100px 40px 133px 40px;
            }
            &__box {
                max-width: 1200px;
            }
            &__title {
                color: $footerTitleColor;
                font-weight: 400;
                font-size: 22px;
            }
            &__icons {
                svg {
                    width: 119px;
                    height: 91;
                }
            }
            &__collaboration {
                flex-direction: column;
            }
            &__navigation {
                margin-right: 160px;
            }
            &__soc-media {
                margin-top: 93px;
                gap: 45px;
                font-size: 20px;
            }
            &__copyright {
                padding: 40px 0 0 0;
            }
        }
    }
    .animal-pages {
        width: 45px;
        height: 45px;
    }
    .text {
        font-size: 16px;
    }
    .btn {
        font-size: 16px;
        padding: 16px 60px;
    }
    .subtitle {
        font-size: 28px;
        line-height: 145%;
    }
    .title {
        font-size: 22px;
    }
    .btn-slider {
        width: 56px;
        height: 56px;
    }
}
