$fontSizeText: 18px;
$fontSizeTitle: 26px;
$animationSpeed: 0.4s;

$darkBlue: #080029;
$activeColor: rgb(0, 153, 255);
$titleColor: #626262;
$colorText: #747474;
$btnColor: #0f0049;
$btnSliderColorDark: #181818;
$btnBgActive: #150068;
$wightBlue: #d9e8ff;
$blue: #0f0049;
$footerBgColor: #0b0b0b;
$footerTextColor: #bcbcbc;
$footerTitleColor: #fcfcfc;

$paddingLayout: 3.5%;
$headerWidth: 90px;

$Merriweather: "Merriweather", serif;
$Rubik: "Rubik", sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.layout {
    width: 100%;
    .header {
        width: 100%;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 25px;
        padding: 0 $paddingLayout;
        &__logo,
        &__menu,
        &__user,
        &__nav {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__soc__media {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            width: 92px;
            position: absolute;
            z-index: -1;
            height: 60px;
            border-right: 2px solid #f0f0f0;
            border-left: 2px solid #f0f0f0;
            border-bottom: 2px solid #f0f0f0;
            overflow: hidden;
            transition-duration: $animationSpeed;
            background-color: rgb(255, 255, 255);
            top: 0;
            left: -2px;
            .soc__media__links {
                display: flex;
                flex-direction: column;
                gap: 45px;
            }
            .soc__media__closed__btn {
                margin: 9vh 0;
            }
            &.open {
                height: 90vh;
            }
        }
        &__nav {
            justify-content: space-between;
            position: relative;
            max-width: 1800px;
            z-index: 1000;
            height: $headerWidth;
            margin: auto;
            background: rgb(255, 255, 255);
            border: 2px solid #f0f0f0;
        }
        &__logo {
            position: absolute;
            height: $headerWidth;
            width: $headerWidth;
            border-right: 2px solid #f0f0f0;
            border-top: 2px solid #f0f0f0;
            border-bottom: 2px solid #f0f0f0;
            background-color: rgb(255, 255, 255);
        }
        &__menu {
            justify-content: flex-start;
            width: 100%;
            gap: 7.5%;
            margin-left: calc(90px + 5.5%);
            font-size: $fontSizeText;
        }
        &__list {
            a {
                color: $darkBlue;
                font-family: $Rubik;
                transition-duration: $animationSpeed;
                display: block;
            }
            &:hover a {
                color: $activeColor;
            }
        }
        &__profile {
            height: 52px;
            width: 52px;
            margin-right: 8.5%;
            &:hover svg {
                circle {
                    transition-duration: $animationSpeed;
                    fill: $activeColor;
                }
            }
        }
    }
    .main {
        width: 100%;
        .wild-park {
            &__layout {
                max-width: 1432px;
                margin: auto;
                display: flex;
                padding-top: 170px;
                justify-content: space-between;
                align-items: center;
            }
            &__title {
                color: $titleColor;
                font-family: $Rubik;
                padding: 0 0 25px 0;
            }
            &__subtitle {
                color: $darkBlue;
                font-size: 84px;
                font-family: $Merriweather;
                .dot {
                    position: relative;
                    z-index: -2;
                    &::before {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        top: 13px;
                        left: 6px;
                        height: 18px;
                        width: 18px;
                        border-radius: 50%;
                        background-color: red;
                    }
                }
            }
            &__btn:nth-of-type(1) {
                .btn {
                    border: 2px solid $btnColor;
                    background-color: $btnColor;
                    color: white;
                    margin-right: 62px;
                    margin-top: 60px;
                    &:hover{
                        background-color: $darkBlue;
                        border-color: $darkBlue;
                    }
                    &:active{
                        background-color: $btnBgActive;
                        border-color: $btnBgActive;
                    }
                }
            }
            &__btn:nth-of-type(2) {
                .btn {
                    border: 2px solid $btnColor;
                    color: $btnColor;
                    &:hover{
                        border-color: $darkBlue;
                    }
                    &:active{
                        border-color: blue;
                    }
                }
            }
        }
        .how-zoo-work {
            &__layout {
                padding: 110px 0;
                max-width: 1432px;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // gap: 224px;
                gap: 219px;
            }
            &__text {
                margin: 40px 0 60px 0;
            }
            &__btn {
                .btn {
                    border: 2px solid $btnColor;
                    background-color: $btnColor;
                    color: white;
                    margin-right: 62px;
                    margin-top: 60px;
                    &:hover{
                        background-color: $darkBlue;
                        border-color: $darkBlue;
                    }
                    &:active{
                        background-color: $btnBgActive;
                        border-color: $btnBgActive;
                    }
                }
            }
        }
        .famous-pets {
            background-color: $wightBlue;
            padding: 100px 0;
            &__layout {
                max-width: 1432px;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__box {
                max-width: 325px;
            }
            &__btn {
                margin-top: 55px;
                .btn-slider {
                    background-color: $btnSliderColorDark;
                    border-color: $btnSliderColorDark;
                    transition-duration: $animationSpeed;
                    border: 2px solid black;
                    &:hover{
                        background-color: $wightBlue;
                        path{
                            fill: black;
                        }
                    }
                }
            }
            &__slider {
                width: 1064px;
                overflow: hidden;
            }
            &__slider-bar {
                display: flex;
                flex-wrap: wrap;
                width: 1432px;
                gap: 40px;
                transition-duration: 0.5s;
            }
            &__animal {
                width: 328px;
                height: 328px;
                background-color: white;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 105%;
                border-radius: 5px;
                transition-duration: 0.5s;
                overflow: hidden;
                position: relative;
                &:hover {
                    background-size: 110%;
                }
                a {
                    color: $footerTitleColor;
                    line-height: 25px;
                    &:hover {
                        color: rgb(99, 207, 240);
                    }
                }
                .animal-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    color: $footerTitleColor;
                    font-size: 18px;
                    font-family: $Rubik;
                    transition-duration: 0.5s;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    padding-bottom: 25px;
                    gap: 43px;
                    &:hover {
                        gap: 14px;
                        background-color: rgba($color: #000000, $alpha: 0.2);
                        .about-animal {
                            width: 238px;
                            height: 238px;
                            &::before {
                                display: none;
                            }
                        }
                        .about-animal__text {
                            transform: translate(-50%, -50%) scale(1);
                        }
                    }
                    .about-animal {
                        position: relative;
                        transition-duration: 0.5s;
                        width: 76px;
                        height: 76px;
                        padding: 23px;
                        border-radius: 50%;
                        border: 2px solid $footerTitleColor;
                        &::before {
                            content: "+";
                            position: absolute;
                            font-weight: 200;
                            font-size: 44px;
                            line-height: 145%;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        &__text {
                            position: absolute;
                            width: 200px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, 550%) scale(3);
                            transition-duration: 0.5s;
                            text-align: center;
                            line-height: 154%;
                            cursor: default;
                        }
                    }
                }
                &:nth-of-type(1) {
                    background-image: url("../../../assets/img/slider_red_panda.png");
                }
                &:nth-of-type(2) {
                    background-image: url("../../../assets/img/slider_penguin.png");
                }
                &:nth-of-type(3) {
                    background-image: url("../../../assets/img/slider_squirrel.png");
                }
                &:nth-of-type(4) {
                    background-image: url("../../../assets/img/slider_tiger.png");
                }
                &:nth-of-type(5) {
                    background-image: url("../../../assets/img/slider_panda.png");
                }
                &:nth-of-type(6) {
                    background-image: url("../../../assets/img/slider_eagle.png");
                }
                &:nth-of-type(7) {
                    background-image: url("../../../assets/img/slider_gorilla.png");
                }
                &:nth-of-type(8) {
                    background-image: url("../../../assets/img/slider_alligator.png");
                }
            }
        }
        .pay-and-feed {
            padding: 100px 0 136px 0;
            &__layout {
                display: flex;
                flex-direction: column;
                padding-left: 244px;
                max-width: 1920px;
                margin: auto;
            }
            &__title {
                padding-bottom: 0;
                padding-left: 184px;
            }
            &__box {
                display: flex;
                flex-direction: row;
                position: relative;
                align-items: center;
                max-width: 824px;
                justify-content: space-between;
                &:nth-of-type(1) {
                    margin: 85px 0 0 201px;
                    &::after {
                        content: url(../../../assets/img/arrow_1.png);
                        left: 57%;
                        position: absolute;
                        bottom: -85px;
                    }
                }
                &:nth-of-type(2) {
                    margin: 129px 0 0 751px;
                    &::before {
                        content: url(../../../assets/img/arrow_2.png);
                        left: -35%;
                        position: absolute;
                        top: 50%;
                    }
                }
                &:nth-of-type(3) {
                    margin: 129px 0 0 16px;
                }
            }
            &__content {
                max-width: 456px;
            }
        }
        .testimonials {
            background-color: $darkBlue;
            padding: 100px 0;
            &__layout {
                padding-left: 244px;
                max-width: 1920px;
                margin: auto;
                display: flex;
                gap: 40px;
            }
            &__title,
            &__subtitle,
            &__more-reviews,
            &__about-text {
                color: $footerTitleColor;
            }
            &__about-text {
                margin-top: 40px;
                max-width: 512px;
                font-weight: 300;
            }
            &__btn {
                .btn {
                    margin-top: 80px;
                    color: $footerTitleColor;
                    border-color: $footerTitleColor;
                    &:hover{
                        background-color: white;
                        color: black;
                    }
                    &:active{
                        border-color: $activeColor;
                        color: $activeColor;
                    }
                }
            }
            &__slider {
                width: 1064px;
                overflow: hidden;
                margin-top: 25px;
                border-radius: 15px;
            }
            &__slider-bar {
                display: flex;
                gap: 40px;
                transition-duration: 0.5s;
            }
            &__user-reviews {
                flex-shrink: 0;
                width: 512px;
                height: 273px;
                background-color: $footerTitleColor;
                padding: 40px;
                border-radius: 15px;
            }
            &__user {
                display: flex;
                align-items: center;
                gap: 20px;
            }
            &__user-avatar {
                width: 46px;
                border-radius: 50%;
                overflow: hidden;
                border: 1px solid #e3e3e3;
            }
            &__user-name {
                font-family: $Rubik;
                font-size: 24px;
                color: $footerBgColor;
                font-weight: 500;
            }
            &__text {
                color: #181818;
                margin-top: 30px;
            }
            &__btn {
                margin-top: 30px;
                .btn-slider {
                    background-color: $footerTitleColor;
                    transition-duration: $animationSpeed;
                    border: 2px solid white;
                    &:hover{
                        border: 2px solid white;
                        background-color: $darkBlue;
                        path{
                            fill: white;
                        }
                    }
                }
            }
        }
        .zoo-map {
            padding: 50px 0 114px 0;
            &__layout {
                max-width: 1920px;
                padding-left: 244px;
                margin: auto;
                display: flex;
                gap: 25px;
            }
            &__animal-card {
                width: 344px;
                margin-top: 50px;
            }
            &__cards {
                position: relative;
            }
            &__card {
                box-shadow: 4px 12px 22px rgba(0, 0, 0, 0.06);
                border-radius: 15px;
                overflow: hidden;
                position: absolute;
                top: 0;
                transition-duration: 0.7s;
                left: -388px;
                width: 344px;
                height: 512px;
                opacity: 0;
                &:nth-of-type(1) {
                    .zoo-map__card__img {
                        background-image: url(../../../assets/img/card_eagle.png);
                    }
                }
                &:nth-of-type(2) {
                    .zoo-map__card__img {
                        background-image: url(../../../assets/img/card_alligator.png);
                    }
                }
                &:nth-of-type(3) {
                    .zoo-map__card__img {
                        background-image: url(../../../assets/img/card_gorilla.png);
                    }
                }
                &:nth-of-type(4) {
                    .zoo-map__card__img {
                        background-image: url(../../../assets/img/card_panda.png);
                    }
                }
                &.show__card {
                    left: 0px;
                    opacity: 1;
                }
            }
            &__card__img {
                width: 100%;
                height: 218px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &__card__about-animal {
                padding: 20px 40px 45px;
                text-align: center;
                height: 298px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &__card__subtitle {
                text-align: center;
                margin-bottom: 20px;
            }
            &__card__about-text {
                color: #747474;
                line-height: 154%;
            }
            &__card__link {
                font-size: 18px;
                font-family: Rubik;
                color: #3888ff;
            }
            &__animal-map {
                height: 700px;
                width: 1223px;
                background-image: url(../../../assets/img/world.png);
            }
            &__animal-map__layout {
                position: relative;
                height: 100%;
            }
            &__marker {
                position: absolute;
                transition-duration: $animationSpeed;
                padding-bottom: 100px;
                g {
                    path {
                        stroke: transparent;
                    }
                }
                &:nth-of-type(1) {
                    top: 190px;
                    left: 120px;
                }
                &:nth-of-type(2) {
                    top: 204px;
                    left: 253px;
                }
                &:nth-of-type(3) {
                    top: 195px;
                    left: 890px;
                }
                &:nth-of-type(4) {
                    top: 330px;
                    left: 570px;
                }
                &:hover:not(.zoo-map__marker__active) {
                    transform: scale(1.2);
                }
            }
            &__marker__active {
                transform: scale(1.3);
                g {
                    .marker__color {
                        stroke: #609fff;
                    }
                }
            }
        }
    }
    .footer {
        padding: $paddingLayout;
        width: 100%;
        background-color: $footerBgColor;
        &__box {
            max-width: 1432px;
            margin: auto;
            color: white;
            font-family: $Rubik;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: $footerTextColor;
        }
        &__layout {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 100px 0 150px 0;
            a {
                color: $footerTextColor;
                transition-duration: $animationSpeed;
                &:hover {
                    color: $activeColor;
                }
            }
        }
        &__title {
            color: $footerTitleColor;
            font-weight: 400;
            font-size: 22px;
        }
        &__icons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-self: stretch;
        }
        &__collaboration {
            display: flex;
            align-items: center;
            gap: 24px;
        }
        &__navigation {
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-weight: 400;
            margin-right: 160px;
            .navigation__link {
                &:nth-of-type(1) {
                    font-size: 22px;
                    margin-bottom: 10px;
                    font-weight: 400;
                    color: $footerTitleColor;
                }
            }
        }
        &__volunteer {
            max-width: 339px;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        &__btn {
            .btn {
                border-color: $footerTitleColor;
                color: $footerTitleColor;
                padding: 20px 0;
                width: 100%;
                &:hover{
                    background-color: $footerTitleColor;
                    color: black;
                }
            }
        }
        &__soc-media {
            margin-top: 85px;
            display: flex;
            gap: 45px;
            font-size: 22px;
        }
        &__copyright {
            padding: 50px 0 0 0;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #747474;
            font-weight: 400;
        }
    }
}

.btn {
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 20px 75px;
    transition-duration: $animationSpeed;
    font-size: 18px;
    font-family: $Rubik;
}

.title {
    color: $titleColor;
    font-size: 26px;
    font-family: $Rubik;
    padding: 0 0 50px 0;
    letter-spacing: 0.115em;
}

.subtitle {
    color: $darkBlue;
    font-family: $Merriweather;
    font-size: 36px;
    text-align: start;
}

.text {
    font-size: 18px;
    color: $colorText;
    line-height: 154%;
    font-family: Rubik;
    line-height: 27.72px;
}

.btn-slider {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-icon-hover:hover svg {
    path {
        transition-duration: $animationSpeed;
        fill: $activeColor;
    }
}

.desctop-hidden {
    display: none;
}

.slider-btn-box {
    display: flex;
    gap: 20px;
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
    $headerWidth: 70px;
    $paddingLayout: 40px;
    .layout {
        .header {
            padding: 0 $paddingLayout;
            &__soc__media {
                width: 72px;
                height: 60px;
                .soc__media__links {
                    gap: 45px;
                }
                &.open {
                    height: 90vh;
                }
            }
            &__nav {
                width: 1120px;
                height: $headerWidth;
            }
            &__logo {
                height: $headerWidth;
                width: $headerWidth;
            }
            &__menu {
                gap: 100px;
                margin-left: calc(90px + 5.5%);
                font-size: $fontSizeText;
            }
            &__list {
                a {
                    color: $darkBlue;
                    font-family: $Rubik;
                    transition-duration: $animationSpeed;
                    display: block;
                }
                &:hover a {
                    color: $activeColor;
                }
            }
            &__profile {
                height: 42px;
                width: 42px;
                margin-right: 100px;
                display: flex;
                align-items: center;
                &:hover svg {
                    circle {
                        transition-duration: $animationSpeed;
                        fill: $activeColor;
                    }
                }
            }
        }
        .main {
            width: 100%;
            .wild-park {
                &__layout {
                    max-width: 1200px;
                    margin: auto;
                    padding: 155px 40px 100px 184px;
                }
                &__title {
                    padding: 0 0 35px 0;
                }
                &__subtitle {
                    font-size: 56px;
                    width: 497px;
                    .dot {
                        &::before {
                            z-index: 1;
                            top: 9px;
                            left: 5px;
                            height: 11px;
                            width: 11px;
                        }
                    }
                }
                &__btn:nth-of-type(1) {
                    .btn {
                        margin-right: 40px;
                        margin-top: 50px;
                    }
                }
                &__title-img {
                    width: 400px;
                    height: 456px;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
            .how-zoo-work {
                &__layout {
                    padding: 100px 40px 100px 184px;
                    width: 1200px;
                    margin: auto;
                    gap: 31px;
                }
                &__title-img {
                    width: 401px;
                    height: 585;
                    object-fit: cover;
                    border-radius: 5px;
                }
                &__text {
                    margin: 35px 0 50px 0;
                }
            }
            .famous-pets {
                background-color: $wightBlue;
                padding: 0 0;
                &__layout {
                    max-width: 1200px;
                    padding: 94px 184px 94px 184px;
                }
                &__box {
                    max-width: 325px;
                }
                &__btn {
                    margin-top: 30px;
                }
                &__slider {
                    width: 541px;
                    overflow: hidden;
                }
                &__slider-bar {
                    width: 1107px;
                    gap: 25px;
                }
                &__animal {
                    width: 258px;
                    height: 258px;
                    .animal-container {
                        font-size: 18px;
                        padding-bottom: 20px;
                        gap: 30px;
                        &:hover {
                            gap: 11px;
                            .about-animal {
                                width: 184px;
                                height: 184px;
                            }
                        }
                        .about-animal {
                            width: 59px;
                            height: 59px;
                            padding: 17px;
                            &::before {
                                font-size: 35px;
                            }
                            &__text {
                                font-size: 14px;
                                width: 150px;
                            }
                        }
                    }
                }
            }
            .pay-and-feed {
                padding: 100px 0 164px 0;
                &__layout {
                    padding-left: 0;
                    max-width: 1200px;
                    padding-left: 184px;
                }
                &__title {
                    padding-bottom: 0;
                    padding-left: 0;
                    margin-bottom: 120px;
                }
                &__subtitle {
                    width: 287px;
                    margin-bottom: 20px;
                }
                &__img {
                    width: 219px;
                }
                &__box {
                    max-width: 753px;
                    margin-top: 0;
                    &:nth-of-type(1) {
                        margin: 0;
                        margin-left: 157px;
                        &::after {
                            content: "";
                        }
                    }
                    &:nth-of-type(2) {
                        margin: 130px 0 0 157px;
                        &::before {
                            content: "";
                        }
                    }
                    &:nth-of-type(3) {
                        margin: 130px 0 0 157px;
                    }
                }
                &__content {
                    max-width: 456px;
                }
            }
            .testimonials {
                padding: 100px 0 80px 0;
                &__layout {
                    padding-left: 185px;
                    max-width: 1200px;
                    gap: 40px;
                }
                &__title {
                    padding-bottom: 40px;
                }
                &__about-text {
                    margin-top: 40px;
                    max-width: 392px;
                }
                &__btn {
                    .btn {
                        margin-top: 60px;
                    }
                }
                &__slider {
                    width: 454px;
                }
                &__user-reviews {
                    width: 454px;
                    height: 235px;
                }
                &__user-avatar {
                    width: 46px;
                    border-radius: 50%;
                }
                &__user-name {
                    font-size: 18px;
                }
                &__text {
                    margin-top: 25px;
                }
            }
            .zoo-map {
                padding: 50px 0 0 0;
                &__layout {
                    max-width: 1200px;
                    padding-left: 184px;
                    gap: 25px;
                    height: 680px;
                }
                &__animal-card {
                    width: 292px;
                    margin-top: 50px;
                }
                &__cards {
                    position: relative;
                }
                &__card {
                    left: -388px;
                    width: 292px;
                    height: 448px;
                }
                &__card__img {
                    width: 100%;
                    height: 180px;
                }
                &__card__about-animal {
                    padding: 20px 40px 40px;
                    height: 268px;
                }
                &__card__subtitle {
                    margin-bottom: 20px;
                }
                &__card__about-text {
                    font-size: 14px;
                }
                &__card__link {
                    font-size: 16px;
                }
                &__animal-map {
                    width: 674px;
                    height: 388px;
                    background-position: center;
                    background-size: cover;
                    margin-top: 134px;
                }
                &__animal-map__layout {
                    height: 100%;
                }
                &__marker {
                    padding-bottom: 100px;
                    transform: scale(0.55);
                    &:nth-of-type(1) {
                        top: 60px;
                        left: 50px;
                    }
                    &:nth-of-type(2) {
                        top: 60px;
                        left: 113px;
                    }
                    &:nth-of-type(3) {
                        top: 55px;
                        left: 460px;
                    }
                    &:nth-of-type(4) {
                        top: 118px;
                        left: 275px;
                    }
                    &:hover:not(.zoo-map__marker__active) {
                        transform: scale(0.7);
                    }
                }
                &__marker__active {
                    transform: scale(0.75);
                }
            }
        }
        .footer {
            // padding: $paddingLayout;
            &__layout {
                padding: 100px 40px 133px 40px;
            }
            &__box {
                max-width: 1200px;
            }
            &__title {
                color: $footerTitleColor;
                font-weight: 400;
                font-size: 22px;
            }
            &__icons {
                svg {
                    width: 119px;
                    height: 91;
                }
            }
            &__collaboration {
                flex-direction: column;
            }
            &__navigation {
                margin-right: 160px;
            }
            &__soc-media {
                margin-top: 93px;
                gap: 45px;
                font-size: 20px;
            }
            &__copyright {
                padding: 40px 0 0 0;
            }
        }
    }
    .text {
        font-size: 16px;
    }
    .btn {
        font-size: 16px;
        padding: 16px 60px;
    }
    .subtitle {
        font-size: 28px;
        line-height: 145%;
    }
    .title {
        font-size: 22px;
    }
    .btn-slider {
        width: 56px;
        height: 56px;
    }
}
