* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.layout {
  width: 100%;
}

.layout .header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 25px;
  padding: 0 3.5%;
}

.layout .header__logo, .layout .header__menu, .layout .header__user, .layout .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout .header__soc__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 92px;
  position: absolute;
  z-index: -1;
  height: 60px;
  border-right: 2px solid #f0f0f0;
  border-left: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  overflow: hidden;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  background-color: white;
  top: 0;
  left: -2px;
}

.layout .header__soc__media .soc__media__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
}

.layout .header__soc__media .soc__media__closed__btn {
  margin: 9vh 0;
}

.layout .header__soc__media.open {
  height: 90vh;
}

.layout .header__nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  max-width: 1800px;
  z-index: 1000;
  height: 90px;
  margin: auto;
  background: white;
  border: 2px solid #f0f0f0;
}

.layout .header__logo {
  position: absolute;
  height: 90px;
  width: 90px;
  border-right: 2px solid #f0f0f0;
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  background-color: white;
}

.layout .header__menu {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  gap: 7.5%;
  margin-left: calc(90px + 5.5%);
  font-size: 18px;
}

.layout .header__list a {
  color: #080029;
  font-family: "Rubik", sans-serif;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  display: block;
}

.layout .header__list:hover a {
  color: #0099ff;
}

.layout .header__profile {
  height: 52px;
  width: 52px;
  margin-right: 8.5%;
}

.layout .header__profile:hover svg circle {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  fill: #0099ff;
}

.layout .main {
  width: 100%;
}

.layout .main .wild-park__layout {
  max-width: 1432px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 170px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout .main .wild-park__title {
  color: #626262;
  font-family: "Rubik", sans-serif;
  padding: 0 0 25px 0;
}

.layout .main .wild-park__subtitle {
  color: #080029;
  font-size: 84px;
  font-family: "Merriweather", serif;
}

.layout .main .wild-park__subtitle .dot {
  position: relative;
  z-index: -2;
}

.layout .main .wild-park__subtitle .dot::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 13px;
  left: 6px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: red;
}

.layout .main .wild-park__btn:nth-of-type(1) .btn {
  border: 2px solid #0f0049;
  background-color: #0f0049;
  color: white;
  margin-right: 62px;
  margin-top: 60px;
}

.layout .main .wild-park__btn:nth-of-type(1) .btn:hover {
  background-color: #080029;
  border-color: #080029;
}

.layout .main .wild-park__btn:nth-of-type(1) .btn:active {
  background-color: #150068;
  border-color: #150068;
}

.layout .main .wild-park__btn:nth-of-type(2) .btn {
  border: 2px solid #0f0049;
  color: #0f0049;
}

.layout .main .wild-park__btn:nth-of-type(2) .btn:hover {
  border-color: #080029;
}

.layout .main .wild-park__btn:nth-of-type(2) .btn:active {
  border-color: blue;
}

.layout .main .how-zoo-work__layout {
  padding: 110px 0;
  max-width: 1432px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 219px;
}

.layout .main .how-zoo-work__text {
  margin: 40px 0 60px 0;
}

.layout .main .how-zoo-work__btn .btn {
  border: 2px solid #0f0049;
  background-color: #0f0049;
  color: white;
  margin-right: 62px;
  margin-top: 60px;
}

.layout .main .how-zoo-work__btn .btn:hover {
  background-color: #080029;
  border-color: #080029;
}

.layout .main .how-zoo-work__btn .btn:active {
  background-color: #150068;
  border-color: #150068;
}

.layout .main .famous-pets {
  background-color: #d9e8ff;
  padding: 100px 0;
}

.layout .main .famous-pets__layout {
  max-width: 1432px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout .main .famous-pets__box {
  max-width: 325px;
}

.layout .main .famous-pets__btn {
  margin-top: 55px;
}

.layout .main .famous-pets__btn .btn-slider {
  background-color: #181818;
  border-color: #181818;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  border: 2px solid black;
}

.layout .main .famous-pets__btn .btn-slider:hover {
  background-color: #d9e8ff;
}

.layout .main .famous-pets__btn .btn-slider:hover path {
  fill: black;
}

.layout .main .famous-pets__slider {
  width: 1064px;
  overflow: hidden;
}

.layout .main .famous-pets__slider-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1432px;
  gap: 40px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.layout .main .famous-pets__animal {
  width: 328px;
  height: 328px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 105%;
  border-radius: 5px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  overflow: hidden;
  position: relative;
}

.layout .main .famous-pets__animal:hover {
  background-size: 110%;
}

.layout .main .famous-pets__animal a {
  color: #fcfcfc;
  line-height: 25px;
}

.layout .main .famous-pets__animal a:hover {
  color: #63cff0;
}

.layout .main .famous-pets__animal .animal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fcfcfc;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
  gap: 43px;
}

.layout .main .famous-pets__animal .animal-container:hover {
  gap: 14px;
  background-color: rgba(0, 0, 0, 0.2);
}

.layout .main .famous-pets__animal .animal-container:hover .about-animal {
  width: 238px;
  height: 238px;
}

.layout .main .famous-pets__animal .animal-container:hover .about-animal::before {
  display: none;
}

.layout .main .famous-pets__animal .animal-container:hover .about-animal__text {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.layout .main .famous-pets__animal .animal-container .about-animal {
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 76px;
  height: 76px;
  padding: 23px;
  border-radius: 50%;
  border: 2px solid #fcfcfc;
}

.layout .main .famous-pets__animal .animal-container .about-animal::before {
  content: "+";
  position: absolute;
  font-weight: 200;
  font-size: 44px;
  line-height: 145%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.layout .main .famous-pets__animal .animal-container .about-animal__text {
  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 550%) scale(3);
          transform: translate(-50%, 550%) scale(3);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-align: center;
  line-height: 154%;
  cursor: default;
}

.layout .main .famous-pets__animal:nth-of-type(1) {
  background-image: url("../../../assets/img/slider_red_panda.png");
}

.layout .main .famous-pets__animal:nth-of-type(2) {
  background-image: url("../../../assets/img/slider_penguin.png");
}

.layout .main .famous-pets__animal:nth-of-type(3) {
  background-image: url("../../../assets/img/slider_squirrel.png");
}

.layout .main .famous-pets__animal:nth-of-type(4) {
  background-image: url("../../../assets/img/slider_tiger.png");
}

.layout .main .famous-pets__animal:nth-of-type(5) {
  background-image: url("../../../assets/img/slider_panda.png");
}

.layout .main .famous-pets__animal:nth-of-type(6) {
  background-image: url("../../../assets/img/slider_eagle.png");
}

.layout .main .famous-pets__animal:nth-of-type(7) {
  background-image: url("../../../assets/img/slider_gorilla.png");
}

.layout .main .famous-pets__animal:nth-of-type(8) {
  background-image: url("../../../assets/img/slider_alligator.png");
}

.layout .main .pay-and-feed {
  padding: 100px 0 136px 0;
}

.layout .main .pay-and-feed__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 244px;
  max-width: 1920px;
  margin: auto;
}

.layout .main .pay-and-feed__title {
  padding-bottom: 0;
  padding-left: 184px;
}

.layout .main .pay-and-feed__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 824px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout .main .pay-and-feed__box:nth-of-type(1) {
  margin: 85px 0 0 201px;
}

.layout .main .pay-and-feed__box:nth-of-type(1)::after {
  content: url(../../../assets/img/arrow_1.png);
  left: 57%;
  position: absolute;
  bottom: -85px;
}

.layout .main .pay-and-feed__box:nth-of-type(2) {
  margin: 129px 0 0 751px;
}

.layout .main .pay-and-feed__box:nth-of-type(2)::before {
  content: url(../../../assets/img/arrow_2.png);
  left: -35%;
  position: absolute;
  top: 50%;
}

.layout .main .pay-and-feed__box:nth-of-type(3) {
  margin: 129px 0 0 16px;
}

.layout .main .pay-and-feed__content {
  max-width: 456px;
}

.layout .main .testimonials {
  background-color: #080029;
  padding: 100px 0;
}

.layout .main .testimonials__layout {
  padding-left: 244px;
  max-width: 1920px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.layout .main .testimonials__title, .layout .main .testimonials__subtitle, .layout .main .testimonials__more-reviews, .layout .main .testimonials__about-text {
  color: #fcfcfc;
}

.layout .main .testimonials__about-text {
  margin-top: 40px;
  max-width: 512px;
  font-weight: 300;
}

.layout .main .testimonials__btn .btn {
  margin-top: 80px;
  color: #fcfcfc;
  border-color: #fcfcfc;
}

.layout .main .testimonials__btn .btn:hover {
  background-color: white;
  color: black;
}

.layout .main .testimonials__btn .btn:active {
  border-color: #0099ff;
  color: #0099ff;
}

.layout .main .testimonials__slider {
  width: 1064px;
  overflow: hidden;
  margin-top: 25px;
  border-radius: 15px;
}

.layout .main .testimonials__slider-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.layout .main .testimonials__user-reviews {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 512px;
  height: 273px;
  background-color: #fcfcfc;
  padding: 40px;
  border-radius: 15px;
}

.layout .main .testimonials__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.layout .main .testimonials__user-avatar {
  width: 46px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #e3e3e3;
}

.layout .main .testimonials__user-name {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  color: #0b0b0b;
  font-weight: 500;
}

.layout .main .testimonials__text {
  color: #181818;
  margin-top: 30px;
}

.layout .main .testimonials__btn {
  margin-top: 30px;
}

.layout .main .testimonials__btn .btn-slider {
  background-color: #fcfcfc;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  border: 2px solid white;
}

.layout .main .testimonials__btn .btn-slider:hover {
  border: 2px solid white;
  background-color: #080029;
}

.layout .main .testimonials__btn .btn-slider:hover path {
  fill: white;
}

.layout .main .zoo-map {
  padding: 50px 0 114px 0;
}

.layout .main .zoo-map__layout {
  max-width: 1920px;
  padding-left: 244px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.layout .main .zoo-map__animal-card {
  width: 344px;
  margin-top: 50px;
}

.layout .main .zoo-map__cards {
  position: relative;
}

.layout .main .zoo-map__card {
  -webkit-box-shadow: 4px 12px 22px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 12px 22px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  left: -388px;
  width: 344px;
  height: 512px;
  opacity: 0;
}

.layout .main .zoo-map__card:nth-of-type(1) .zoo-map__card__img {
  background-image: url(../../../assets/img/card_eagle.png);
}

.layout .main .zoo-map__card:nth-of-type(2) .zoo-map__card__img {
  background-image: url(../../../assets/img/card_alligator.png);
}

.layout .main .zoo-map__card:nth-of-type(3) .zoo-map__card__img {
  background-image: url(../../../assets/img/card_gorilla.png);
}

.layout .main .zoo-map__card:nth-of-type(4) .zoo-map__card__img {
  background-image: url(../../../assets/img/card_panda.png);
}

.layout .main .zoo-map__card.show__card {
  left: 0px;
  opacity: 1;
}

.layout .main .zoo-map__card__img {
  width: 100%;
  height: 218px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.layout .main .zoo-map__card__about-animal {
  padding: 20px 40px 45px;
  text-align: center;
  height: 298px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout .main .zoo-map__card__subtitle {
  text-align: center;
  margin-bottom: 20px;
}

.layout .main .zoo-map__card__about-text {
  color: #747474;
  line-height: 154%;
}

.layout .main .zoo-map__card__link {
  font-size: 18px;
  font-family: Rubik;
  color: #3888ff;
}

.layout .main .zoo-map__animal-map {
  height: 700px;
  width: 1223px;
  background-image: url(../../../assets/img/world.png);
}

.layout .main .zoo-map__animal-map__layout {
  position: relative;
  height: 100%;
}

.layout .main .zoo-map__marker {
  position: absolute;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  padding-bottom: 100px;
}

.layout .main .zoo-map__marker g path {
  stroke: transparent;
}

.layout .main .zoo-map__marker:nth-of-type(1) {
  top: 190px;
  left: 120px;
}

.layout .main .zoo-map__marker:nth-of-type(2) {
  top: 204px;
  left: 253px;
}

.layout .main .zoo-map__marker:nth-of-type(3) {
  top: 195px;
  left: 890px;
}

.layout .main .zoo-map__marker:nth-of-type(4) {
  top: 330px;
  left: 570px;
}

.layout .main .zoo-map__marker:hover:not(.zoo-map__marker__active) {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.layout .main .zoo-map__marker__active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.layout .main .zoo-map__marker__active g .marker__color {
  stroke: #609fff;
}

.layout .footer {
  padding: 3.5%;
  width: 100%;
  background-color: #0b0b0b;
}

.layout .footer__box {
  max-width: 1432px;
  margin: auto;
  color: white;
  font-family: "Rubik", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #bcbcbc;
}

.layout .footer__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0 150px 0;
}

.layout .footer__layout a {
  color: #bcbcbc;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.layout .footer__layout a:hover {
  color: #0099ff;
}

.layout .footer__title {
  color: #fcfcfc;
  font-weight: 400;
  font-size: 22px;
}

.layout .footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.layout .footer__collaboration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.layout .footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  font-weight: 400;
  margin-right: 160px;
}

.layout .footer__navigation .navigation__link:nth-of-type(1) {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #fcfcfc;
}

.layout .footer__volunteer {
  max-width: 339px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.layout .footer__btn .btn {
  border-color: #fcfcfc;
  color: #fcfcfc;
  padding: 20px 0;
  width: 100%;
}

.layout .footer__btn .btn:hover {
  background-color: #fcfcfc;
  color: black;
}

.layout .footer__soc-media {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  font-size: 22px;
}

.layout .footer__copyright {
  padding: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #747474;
  font-weight: 400;
}

.btn {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 20px 75px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

.title {
  color: #626262;
  font-size: 26px;
  font-family: "Rubik", sans-serif;
  padding: 0 0 50px 0;
  letter-spacing: 0.115em;
}

.subtitle {
  color: #080029;
  font-family: "Merriweather", serif;
  font-size: 36px;
  text-align: start;
}

.text {
  font-size: 18px;
  color: #747474;
  line-height: 154%;
  font-family: Rubik;
  line-height: 27.72px;
}

.btn-slider {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.svg-icon-hover:hover svg path {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  fill: #0099ff;
}

.desctop-hidden {
  display: none;
}

.slider-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .layout .header {
    padding: 0 40px;
  }
  .layout .header__soc__media {
    width: 72px;
    height: 60px;
  }
  .layout .header__soc__media .soc__media__links {
    gap: 45px;
  }
  .layout .header__soc__media.open {
    height: 90vh;
  }
  .layout .header__nav {
    width: 1120px;
    height: 70px;
  }
  .layout .header__logo {
    height: 70px;
    width: 70px;
  }
  .layout .header__menu {
    gap: 100px;
    margin-left: calc(90px + 5.5%);
    font-size: 18px;
  }
  .layout .header__list a {
    color: #080029;
    font-family: "Rubik", sans-serif;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    display: block;
  }
  .layout .header__list:hover a {
    color: #0099ff;
  }
  .layout .header__profile {
    height: 42px;
    width: 42px;
    margin-right: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .layout .header__profile:hover svg circle {
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    fill: #0099ff;
  }
  .layout .main {
    width: 100%;
  }
  .layout .main .wild-park__layout {
    max-width: 1200px;
    margin: auto;
    padding: 155px 40px 100px 184px;
  }
  .layout .main .wild-park__title {
    padding: 0 0 35px 0;
  }
  .layout .main .wild-park__subtitle {
    font-size: 56px;
    width: 497px;
  }
  .layout .main .wild-park__subtitle .dot::before {
    z-index: 1;
    top: 9px;
    left: 5px;
    height: 11px;
    width: 11px;
  }
  .layout .main .wild-park__btn:nth-of-type(1) .btn {
    margin-right: 40px;
    margin-top: 50px;
  }
  .layout .main .wild-park__title-img {
    width: 400px;
    height: 456px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
  }
  .layout .main .how-zoo-work__layout {
    padding: 100px 40px 100px 184px;
    width: 1200px;
    margin: auto;
    gap: 31px;
  }
  .layout .main .how-zoo-work__title-img {
    width: 401px;
    height: 585;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
  }
  .layout .main .how-zoo-work__text {
    margin: 35px 0 50px 0;
  }
  .layout .main .famous-pets {
    background-color: #d9e8ff;
    padding: 0 0;
  }
  .layout .main .famous-pets__layout {
    max-width: 1200px;
    padding: 94px 184px 94px 184px;
  }
  .layout .main .famous-pets__box {
    max-width: 325px;
  }
  .layout .main .famous-pets__btn {
    margin-top: 30px;
  }
  .layout .main .famous-pets__slider {
    width: 541px;
    overflow: hidden;
  }
  .layout .main .famous-pets__slider-bar {
    width: 1107px;
    gap: 25px;
  }
  .layout .main .famous-pets__animal {
    width: 258px;
    height: 258px;
  }
  .layout .main .famous-pets__animal .animal-container {
    font-size: 18px;
    padding-bottom: 20px;
    gap: 30px;
  }
  .layout .main .famous-pets__animal .animal-container:hover {
    gap: 11px;
  }
  .layout .main .famous-pets__animal .animal-container:hover .about-animal {
    width: 184px;
    height: 184px;
  }
  .layout .main .famous-pets__animal .animal-container .about-animal {
    width: 59px;
    height: 59px;
    padding: 17px;
  }
  .layout .main .famous-pets__animal .animal-container .about-animal::before {
    font-size: 35px;
  }
  .layout .main .famous-pets__animal .animal-container .about-animal__text {
    font-size: 14px;
    width: 150px;
  }
  .layout .main .pay-and-feed {
    padding: 100px 0 164px 0;
  }
  .layout .main .pay-and-feed__layout {
    padding-left: 0;
    max-width: 1200px;
    padding-left: 184px;
  }
  .layout .main .pay-and-feed__title {
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 120px;
  }
  .layout .main .pay-and-feed__subtitle {
    width: 287px;
    margin-bottom: 20px;
  }
  .layout .main .pay-and-feed__img {
    width: 219px;
  }
  .layout .main .pay-and-feed__box {
    max-width: 753px;
    margin-top: 0;
  }
  .layout .main .pay-and-feed__box:nth-of-type(1) {
    margin: 0;
    margin-left: 157px;
  }
  .layout .main .pay-and-feed__box:nth-of-type(1)::after {
    content: "";
  }
  .layout .main .pay-and-feed__box:nth-of-type(2) {
    margin: 130px 0 0 157px;
  }
  .layout .main .pay-and-feed__box:nth-of-type(2)::before {
    content: "";
  }
  .layout .main .pay-and-feed__box:nth-of-type(3) {
    margin: 130px 0 0 157px;
  }
  .layout .main .pay-and-feed__content {
    max-width: 456px;
  }
  .layout .main .testimonials {
    padding: 100px 0 80px 0;
  }
  .layout .main .testimonials__layout {
    padding-left: 185px;
    max-width: 1200px;
    gap: 40px;
  }
  .layout .main .testimonials__title {
    padding-bottom: 40px;
  }
  .layout .main .testimonials__about-text {
    margin-top: 40px;
    max-width: 392px;
  }
  .layout .main .testimonials__btn .btn {
    margin-top: 60px;
  }
  .layout .main .testimonials__slider {
    width: 454px;
  }
  .layout .main .testimonials__user-reviews {
    width: 454px;
    height: 235px;
  }
  .layout .main .testimonials__user-avatar {
    width: 46px;
    border-radius: 50%;
  }
  .layout .main .testimonials__user-name {
    font-size: 18px;
  }
  .layout .main .testimonials__text {
    margin-top: 25px;
  }
  .layout .main .zoo-map {
    padding: 50px 0 0 0;
  }
  .layout .main .zoo-map__layout {
    max-width: 1200px;
    padding-left: 184px;
    gap: 25px;
    height: 680px;
  }
  .layout .main .zoo-map__animal-card {
    width: 292px;
    margin-top: 50px;
  }
  .layout .main .zoo-map__cards {
    position: relative;
  }
  .layout .main .zoo-map__card {
    left: -388px;
    width: 292px;
    height: 448px;
  }
  .layout .main .zoo-map__card__img {
    width: 100%;
    height: 180px;
  }
  .layout .main .zoo-map__card__about-animal {
    padding: 20px 40px 40px;
    height: 268px;
  }
  .layout .main .zoo-map__card__subtitle {
    margin-bottom: 20px;
  }
  .layout .main .zoo-map__card__about-text {
    font-size: 14px;
  }
  .layout .main .zoo-map__card__link {
    font-size: 16px;
  }
  .layout .main .zoo-map__animal-map {
    width: 674px;
    height: 388px;
    background-position: center;
    background-size: cover;
    margin-top: 134px;
  }
  .layout .main .zoo-map__animal-map__layout {
    height: 100%;
  }
  .layout .main .zoo-map__marker {
    padding-bottom: 100px;
    -webkit-transform: scale(0.55);
            transform: scale(0.55);
  }
  .layout .main .zoo-map__marker:nth-of-type(1) {
    top: 60px;
    left: 50px;
  }
  .layout .main .zoo-map__marker:nth-of-type(2) {
    top: 60px;
    left: 113px;
  }
  .layout .main .zoo-map__marker:nth-of-type(3) {
    top: 55px;
    left: 460px;
  }
  .layout .main .zoo-map__marker:nth-of-type(4) {
    top: 118px;
    left: 275px;
  }
  .layout .main .zoo-map__marker:hover:not(.zoo-map__marker__active) {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .layout .main .zoo-map__marker__active {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .layout .footer__layout {
    padding: 100px 40px 133px 40px;
  }
  .layout .footer__box {
    max-width: 1200px;
  }
  .layout .footer__title {
    color: #fcfcfc;
    font-weight: 400;
    font-size: 22px;
  }
  .layout .footer__icons svg {
    width: 119px;
    height: 91;
  }
  .layout .footer__collaboration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layout .footer__navigation {
    margin-right: 160px;
  }
  .layout .footer__soc-media {
    margin-top: 93px;
    gap: 45px;
    font-size: 20px;
  }
  .layout .footer__copyright {
    padding: 40px 0 0 0;
  }
  .text {
    font-size: 16px;
  }
  .btn {
    font-size: 16px;
    padding: 16px 60px;
  }
  .subtitle {
    font-size: 28px;
    line-height: 145%;
  }
  .title {
    font-size: 22px;
  }
  .btn-slider {
    width: 56px;
    height: 56px;
  }
}
/*# sourceMappingURL=homePageDesctop.css.map */