.layout {
  width: 100%;
}

.layout .header {
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.layout .header__nav {
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 0 20px;
  border-bottom: 2px solid #f0f0f0;
}

.layout .header__logo svg {
  width: 49px;
  height: 38px;
}

.layout .header__menu {
  width: 100%;
  height: 100vh;
  padding: 88px 0 105px 0;
  position: absolute;
  top: -100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  z-index: -1;
  background-color: white;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.layout .header__menu.show {
  top: 0;
}

.layout .header__soc__media {
  display: none;
}

.layout .main {
  width: 100%;
  padding: 0 20px;
}

.layout .main .error {
  padding-top: 0px;
}

.layout .main .error__layout {
  max-width: 600px;
  height: 997px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout .main .error__title {
  position: relative;
  margin-bottom: 25px;
}

.layout .main .error__title::before {
  content: "404";
  position: absolute;
  z-index: -1;
  bottom: -17px;
  left: 50%;
  font-family: "Merriweather", serif;
  color: #d9e8ff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 96px;
}

.layout .main .error__subtitle {
  margin-bottom: 35px;
}

.layout .main .error__btn {
  margin-bottom: 70px;
}

.layout .main .error__btn .btn {
  color: white;
  background-color: #0f0049;
  border-color: #0f0049;
}

.layout .main .error__vidio {
  margin-bottom: 40px;
}

.layout .main .error__vidio iframe {
  width: 600px;
  height: 338px;
  border: none;
  border-radius: 5px;
}

.layout .main .error__text {
  margin-bottom: 60px;
}

.layout .main .error__text .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.layout .footer {
  padding: 0 20px;
  width: 100%;
  background-color: #0b0b0b;
}

.layout .footer__box {
  margin: auto;
  color: white;
  font-family: "Rubik", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #bcbcbc;
  max-width: 577px;
}

.layout .footer__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
  padding: 80px 0 60px 0;
}

.layout .footer__layout a {
  color: #bcbcbc;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.layout .footer__layout a:hover {
  color: #0099ff;
}

.layout .footer__title {
  color: #fcfcfc;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.115em;
}

.layout .footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 127px;
  width: 100%;
}

.layout .footer__icons svg {
  width: 95px;
  height: 74px;
}

.layout .footer__collaboration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  font-size: 16px;
}

.layout .footer__collaboration .yem-digital {
  width: 93px;
}

.layout .footer__collaboration .rs-school {
  width: 102px;
}

.layout .footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  font-weight: 400;
}

.layout .footer__navigation .navigation__link:nth-of-type(1) {
  letter-spacing: 0.115em;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #fcfcfc;
}

.layout .footer__volunteer {
  max-width: 339px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.layout .footer__btn .btn {
  border-color: #fcfcfc;
  color: #fcfcfc;
  padding: 20px 0;
  width: 318px;
}

.layout .footer__soc-media {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  gap: 65px;
}

.layout .footer__copyright {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #747474;
  font-weight: 400;
  font-size: 14px;
}

.btn {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 16px 60px;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

.subtitle {
  color: #080029;
  font-size: 16px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 154%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Rubik", sans-serif;
}

.text {
  font-size: 14px;
  color: #747474;
  line-height: 154%;
  font-family: Rubik;
  line-height: 27.72px;
}

.title {
  font-family: "Merriweather", serif;
  font-size: 26px;
  color: #080029;
}

@media screen and (max-width: 639px) {
  .layout {
    width: 100%;
  }
  .layout .header__nav {
    height: 59px;
    padding: 0 10px;
    border-bottom: 2px solid #f0f0f0;
  }
  .layout .header__logo svg {
    width: 38px;
    height: 29px;
  }
  .layout .main {
    width: 100%;
    padding: 0 10px;
  }
  .layout .main .error {
    padding-top: 157px;
  }
  .layout .main .error__layout {
    max-width: 600px;
    height: auto;
  }
  .layout .main .error__title {
    position: relative;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .layout .main .error__subtitle {
    max-width: 300px;
    margin-bottom: 25px;
  }
  .layout .main .error__btn {
    margin-bottom: 40px;
  }
  .layout .main .error__vidio {
    margin-bottom: 30px;
  }
  .layout .main .error__vidio iframe {
    width: 300px;
    height: 169px;
  }
  .layout .main .error__text {
    margin-bottom: 50px;
  }
  .layout .footer {
    padding: 0 10px;
    width: 100%;
  }
  .layout .footer__box {
    margin: auto;
  }
  .layout .footer__layout {
    width: 300px;
    padding: 60px 0 36px 0;
  }
  .layout .footer__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 75px;
    width: auto;
  }
  .layout .footer__icons svg {
    width: 60px;
    height: 47px;
  }
  .layout .footer__collaboration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }
  .layout .footer__collaboration .yem-digital {
    width: 80px;
  }
  .layout .footer__collaboration .rs-school {
    width: 84px;
  }
  .layout .footer__navigation {
    gap: 21px;
    margin-right: 31px;
    font-size: 14px;
  }
  .layout .footer__navigation .navigation__link:nth-of-type(1) {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .layout .footer__supp {
    text-align: center;
  }
  .layout .footer__volunteer {
    gap: 30px;
    width: 300px;
  }
  .layout .footer__volunteer p {
    font-size: 14px;
    line-height: 154%;
  }
  .layout .footer__btn .btn {
    width: 100%;
  }
  .layout .footer__soc-media {
    margin-top: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .layout .footer__copyright {
    gap: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 11px;
  }
  .btn {
    font-size: 14px;
  }
  .text {
    font-size: 12px;
  }
  .subtitle {
    font-size: 14px;
  }
}
/*# sourceMappingURL=errorPageMobile.css.map */