$fontSizeText: 18px;
$fontSizeTitle: 26px;
$animationSpeed: 0.3s;

$darkBlue: #080029;
$activeColor: rgb(0, 153, 255);
$titleColor: #626262;
$colorText: #747474;
$btnColor: #0f0049;
$btnSliderColorDark: #181818;
$wightBlue: #d9e8ff;
$blue: #0f0049;
$footerBgColor: #0b0b0b;
$footerTextColor: #bcbcbc;
$footerTitleColor: #fcfcfc;

$paddingLayout: 20px;
$headerWidth: 88px;

$Merriweather: "Merriweather", serif;
$Rubik: "Rubik", sans-serif;

.layout {
    width: 100%;
    .header {
        position: absolute;
        z-index: 1000;
        width: 100%;
        &__nav {
            height: $headerWidth;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            padding: 0 $paddingLayout;
            border-bottom: 2px solid #f0f0f0;
        }
        &__logo {
            svg {
                width: 49px;
                height: 38px;
            }
        }
        &__menu {
            width: 100%;
            height: 100vh;
            padding: 88px 0 105px 0;
            position: absolute;
            top: -100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            left: 0;
            z-index: -1;
            background-color: white;
            font-size: 24px;
            font-family: $Rubik;
            font-weight: 500;
            transition-duration: 0.5s;
            &.show {
                top: 0;
            }
        }
        &__soc__media {
            display: none;
        }
    }
    .main {
        width: 100%;
        padding: 0 $paddingLayout;
        .error {
            padding-top: 0px;
            &__layout {
                padding-top: 200px;
                max-width: 900px;
                height: 997px;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
            &__title {
                position: relative;
                &::before {
                    content: "404";
                    position: absolute;
                    z-index: -1;
                    bottom: -17px;
                    left: 50%;
                    color: $wightBlue;
                    transform: translateX(-50%);
                    font-size: 96px;
                }
            }
            &__subtitle {
                .subtitle {
                    line-height: 154%;
                    display: flex;
                    justify-content: center;
                    font-size: 16px;
                    font-family: $Rubik;
                }
            }
            &__btn {
                .btn {
                    color: white;
                    background-color: $blue;
                }
            }
            &__vidio {
                iframe {
                    width: 600px;
                    height: 338px;
                    border: none;
                }
            }
            &__text {
                margin-bottom: 20px;
                .text {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    .footer {
        padding: 0 $paddingLayout;
        width: 100%;
        background-color: $footerBgColor;
        &__box {
            margin: auto;
            color: white;
            font-family: $Rubik;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: $footerTextColor;
            max-width: 577px;
        }
        &__layout {
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            justify-content: space-between;
            gap: 40px;
            padding: 80px 0 60px 0;
            a {
                color: $footerTextColor;
                transition-duration: $animationSpeed;
                &:hover {
                    color: $activeColor;
                }
            }
        }
        &__title {
            color: $footerTitleColor;
            font-weight: 400;
            font-size: 22px;
            letter-spacing: 0.115em;
        }
        &__icons {
            display: flex;
            gap: 115px;
            width: 100%;
            svg{
                width: 95px;
                height: 74px;
            }
        }
        &__collaboration {
            display: flex;
            align-items: center;
            gap: 24px;
            .yem-digital{
                width: 93px;
            }
            .rs-school{
                width: 102px;
            }
        }
        &__navigation {
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-weight: 400;
            .navigation__link {
                &:nth-of-type(1) {
                    letter-spacing: 0.115em;
                    font-size: 22px;
                    margin-bottom: 10px;
                    font-weight: 400;
                    color: $footerTitleColor;
                }
            }
        }
        &__supp{
            margin-right: 13px;
        }
        &__volunteer {
            max-width: 339px;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        &__btn {
            .btn {
                border-color: $footerTitleColor;
                color: $footerTitleColor;
                padding: 20px 0;
                width: 318px;
            }
        }
        &__soc-media {
            margin-top: 50px;
            display: flex;
            font-size: 18px;
            gap: 65px;
        }
        &__copyright {
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #747474;
            font-weight: 400;
            font-size: 14px;
        }
    }
}

.btn {
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 16px 60px;
    font-size: 16px;
    font-family: $Rubik;
}

.title {
    color: $titleColor;
    font-size: 22px;
    font-family: $Rubik;
    padding: 0 0 50px 0;
}

.subtitle {
    color: $darkBlue;
    font-family: $Merriweather;
    font-size: 26px;
    text-align: start;
}

.text {
    font-size: 14px;
    color: $colorText;
    line-height: 154%;
    font-family: Rubik;
    line-height: 27.72px;
}
