$fontSizeText: 18px;
$fontSizeTitle: 26px;
$animationSpeed: 0.3s;

$darkBlue: #080029;
$activeColor: rgb(0, 153, 255);
$titleColor: #626262;
$colorText: #747474;
$btnColor: #0f0049;
$btnSliderColorDark: #181818;
$wightBlue: #d9e8ff;
$blue: #0f0049;
$footerBgColor: #0b0b0b;
$footerTextColor: #bcbcbc;
$footerTitleColor: #fcfcfc;

$paddingLayout: 3.5%;
$headerWidth: 90px;

$Merriweather: "Merriweather", serif;
$Rubik: "Rubik", sans-serif;

.layout {
    width: 100%;
    .header {
        width: 100%;
        position: absolute;
        left: 0;
        top: 25px;
        padding: 0 $paddingLayout;
        z-index: 1000;
        &__logo,
        &__menu,
        &__user,
        &__nav {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__soc__media {
            display: none;
        }
        &__nav {
            justify-content: space-between;
            position: relative;
            max-width: 1800px;
            z-index: 1000;
            height: $headerWidth;
            margin: auto;
            background: rgb(255, 255, 255);
        }
        &__logo {
            position: absolute;
            height: $headerWidth;
            width: $headerWidth;
            background-color: rgb(255, 255, 255);
        }
        &__menu {
            justify-content: flex-start;
            width: 100%;
            gap: 7.5%;
            margin-left: calc(90px + 5.5%);
            font-size: $fontSizeText;
        }
        &__list {
            a {
                color: $darkBlue;
                font-family: $Rubik;
                transition-duration: $animationSpeed;
                display: block;
            }
            &:hover a {
                color: $activeColor;
            }
        }
        &__profile {
            height: 52px;
            width: 52px;
            &:hover svg {
                circle {
                    transition-duration: $animationSpeed;
                    fill: $activeColor;
                }
            }
        }
    }
    .main {
        width: 100%;
        .error {
            padding-top: 0px;
            &__layout {
                padding-top: 253px;
                max-width: 900px;
                height: 1301px;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
            &__title {
                position: relative;
                &::before {
                    content: "404";
                    position: absolute;
                    z-index: -1;
                    bottom: -17px;
                    left: 50%;
                    color: $wightBlue;
                    transform: translateX(-50%);
                    font-size: 144px;
                }
            }
            &__subtitle {
                .subtitle {
                    line-height: 154%;
                    display: flex;
                    justify-content: center;
                    font-size: 24px;
                    font-family: $Rubik;
                }
            }
            &__btn {
                .btn {
                    color: white;
                    background-color: $blue;
                }
            }
            &__vidio {
                border: none;
            }
            &__text {
                margin-bottom: 80px;
                .text {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    .footer {
        padding: $paddingLayout;
        width: 100%;
        background-color: $footerBgColor;
        &__box {
            margin: auto;
            max-width: 1800px;
            color: white;
            font-family: $Rubik;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: $footerTextColor;
        }
        &__layout {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 100px 0 150px 0;
            a {
                color: $footerTextColor;
                transition-duration: $animationSpeed;
                &:hover {
                    color: $activeColor;
                }
            }
        }
        &__title {
            color: $footerTitleColor;
            font-weight: 400;
            font-size: 22px;
        }
        &__icons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-self: stretch;
        }
        &__collaboration {
            display: flex;
            align-items: center;
            gap: 24px;
        }
        &__navigation {
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-weight: 400;
            margin-right: 160px;
            .navigation__link {
                &:nth-of-type(1) {
                    font-size: 22px;
                    margin-bottom: 10px;
                    font-weight: 400;
                    color: $footerTitleColor;
                }
            }
        }
        &__volunteer {
            max-width: 339px;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        &__btn {
            .btn {
                border-color: $footerTitleColor;
                color: $footerTitleColor;
                padding: 20px 0;
                width: 100%;
            }
        }
        &__soc-media {
            margin-top: 85px;
            display: flex;
            gap: 45px;
            font-size: 22px;
        }
        &__copyright {
            padding: 50px 0 0 0;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #747474;
            font-weight: 400;
        }
    }
}

.btn {
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 20px 75px;
    font-size: 18px;
    font-family: $Rubik;
}

.title{
    font-family: $Merriweather;
    font-size: 36px;
    color: $darkBlue;
}

.subtitle {
    color: $darkBlue;
    font-family: $Merriweather;
    font-size: 36px;
    text-align: start;
}

.text {
    font-size: 18px;
    color: $colorText;
    line-height: 154%;
    font-family: Rubik;
    line-height: 27.72px;
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
    $headerWidth: 70px;
    $paddingLayout: 40px;
    .layout {
        .header {
            padding: 0 $paddingLayout;
            &__soc__media {
                width: 72px;
                height: 60px;
                .soc__media__links {
                    gap: 45px;
                }
                .soc__media__closed {
                    margin: 9vh 0;
                }

                &.open {
                    height: 90vh;
                }
            }
            &__nav {
                height: $headerWidth;
            }
            &__logo {
                height: $headerWidth;
                width: $headerWidth;
            }
            &__menu {
                gap: 7.5%;
                margin-left: calc(90px + 5.5%);
                font-size: $fontSizeText;
            }
            &__list {
                a {
                    color: $darkBlue;
                    font-family: $Rubik;
                    transition-duration: $animationSpeed;
                    display: block;
                }
                &:hover a {
                    color: $activeColor;
                }
            }
            &__profile {
                height: 52px;
                width: 52px;
                &:hover svg {
                    circle {
                        transition-duration: $animationSpeed;
                        fill: $activeColor;
                    }
                }
            }
        }
        .main {
            .error {
                &__layout {
                    padding-top: 251px;
                    max-width: 900px;
                    height: 1208px;
                }
                &__title {
                    &::before {
                        font-size: 120px;
                    }
                }
                &__subtitle {
                    // margin-bottom: 50px;
                    .subtitle {
                        font-size: 18px;
                    }
                }
                &__btn {
                    // margin-bottom: 80px;
                    .btn {
                        color: white;
                        background-color: $blue;
                    }
                }
                &__vidio {
                    iframe {
                        width: 832px;
                        height: 469px;
                        border: none;
                    }
                }
                &__text {
                    margin-bottom: 80px;
                    .text {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
        .footer {
            padding: $paddingLayout;
            &__layout {
                padding: 100px 0 133px 0;
            }
            &__title {
                color: $footerTitleColor;
                font-weight: 400;
                font-size: 22px;
            }
            &__icons {
                svg {
                    width: 119px;
                    height: 91;
                }
            }
            &__collaboration {
                flex-direction: column;
            }
            &__navigation {
                margin-right: 160px;
            }
            &__soc-media {
                margin-top: 93px;
                gap: 45px;
                font-size: 20px;
            }
            &__copyright {
                padding: 40px 0 0 0;
            }
        }
    }
    .text {
        font-size: 16px;
    }
    .btn {
        font-size: 16px;
    }
    .subtitle {
        font-size: 28px;
    }
    .title{
        font-size: 28px;
    }
}
